<h1>Name : {{pokemon.name}}</h1>
<h3>Height : {{pokemon.height}}</h3>
<h3>Base experience :{{pokemon.base_experience}} </h3>
<h3>weight : {{pokemon.weight}}</h3>

<br>
<h1>Aibilities</h1>
<table class="mat-elevation-z8" >
  <tr>
    <td>name</td>
    <td>url</td>
    <td>is_hidden</td>
    <td>slot</td>
  </tr>
  <tr *ngFor="let a of pokemon.abilities">
    <td>{{a.ability.name}}</td>
    <td>{{a.ability.url}}</td>
    <td>{{a.is_hidden}}</td>
    <td>{{a.slot}}</td>
  </tr>

</table>

<h1>Forms</h1>
<table class="mat-elevation-z8" >
  <tr>
    <td>name</td>
    <td>url</td>

  </tr>
  <tr *ngFor="let a of pokemon.forms">
    <td>{{a.name}}</td>
    <td>{{a.url}}</td>
    </tr>
</table>
